/* Gallery Code */
.work {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
  padding-bottom: 3%;
  border-bottom: 1px solid #e0e0e0;

  .featuredTitle {
    font-size: 32pt;
    font-weight: 400;
    padding: 3rem 0;
  }
  .responsive-image {
    max-width: 100%;
  }
  .work-item img {
    display: block;
  }
  .work-item {
    margin: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .work-item {
      width: calc(50% - 2rem);
    }
  }
}

@media screen and (min-width: 1000px) {
  .work-item {
    width: calc(33.3333% - 2rem);
  }
}

/* Blog Code */
.blog {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
  padding-bottom: 3%;
  .featuredTitle {
    font-size: 32pt;
    font-weight: 400;
    padding: 3rem 0;
  }
  a:hover {
    text-decoration: none;
    color: #ffc132;
  }
  .overtext {
    font-family: 'Satisfy', cursive;
    font-size: 24pt;
  }
  .responsive-image {
    max-width: 100%;
  }
  .blog-item img {
    display: block;
  }
  .blog-item {
    margin: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .blog-item {
      width: calc(25% - 2rem);
    }
  }
}

@media screen and (min-width: 1000px) {
  .blog-item {
    width: calc(25% - 2rem);
  }
}
